[submodule "projetos/jogo/pingpong"]
	path = projetos/jogo/pingpong
	url = https://github.com/kauaputtin/ping-pong-jogo.git
[submodule "projetos/gerador-de-senha"]
	path = projetos/gerador-de-senha
	url = https://github.com/kauaputtin/gerador-de-senha.git
