[submodule "projetos/jogo/pingpong"]
	path = projetos/jogo/pingpong
	url = https://github.com/kauaputtin/ping-pong-jogo.git
[submodule "projetos/spyfall-clash"]
	path = projetos/spyfall-clash
	url = https://github.com/kauaputtin/spyfallClash.git
[submodule "projetos/gerador-de-senha"]
	path = projetos/gerador-de-senha
	url = https://github.com/kauaputtin/gerador-de-senha.git
[submodule "projetos/eventos-corporativos"]
	path = projetos/eventos-corporativos
	url = https://github.com/projetojax/eventos_corporativos.git
